:root {
  --primary-color: 254, 77, 123;
}
body {
  font-family: monospace;
  background-color: rgba(var(--primary-color), 0.3);
}
header {
  padding: 15px;
  border-radius: 50px;
  max-height: 150px;
  background-color: color-mix(in srgb, rgb(var(--primary-color)), white 50%);

  /* responsive */
  @media (max-width: 750px) {
    max-height: 350px;
    justify-content: left;
  }
}

.logo_header {
  max-width: 80px;
}

.horientacion {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  /* responsive */
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu {
  list-style: none;
}
