:root {
  --primary-color: 254, 77, 123;
  --secondary-color: 5, 100, 1;
  --border-radius: 50px;
}
body {
  font-family: monospace;
  background-color: rgba(var(--primary-color), 0.3);
}
header {
  max-height: 150px;
  /* responsive */
  @media (max-width: 480px) {
    max-height: 350px;
    justify-content: left;
  }
}

a {
  text-decoration: none;
  color: rgba(var(--secondary-color), 1);
}
a:hover {
  color: color-mix(in srgb, rgba(var(--secondary-color), 1), white 50%);
}

.container {
  margin: 15px 0;
  padding: 25px;
  border-radius: var(--border-radius);

  background-color: color-mix(in srgb, rgb(var(--primary-color)), white 50%);
}
.logo_header {
  max-width: 80px;
}

.orientacion {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  /* responsive */
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu {
  li {
    font-weight: bold;
  }
  list-style: none;
}

.header_login_button {
  border-radius: var(--border-radius);
  background-color: color-mix(in srgb, rgb(var(--secondary-color)), white 50%);
  font-weight: 600;
}

.home {
  background-image: url("https://wallpapercave.com/wp/wp7539210.jpg");
  background-repeat: no-repeat;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  width: auto;
  margin-top: 15px;
  border-radius: var(--border-radius);
}

.hero {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#about {
  margin: 15px 0;
}
.about_img {
  max-width: 200px;
  border-radius: 100%;
}

.img_center {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about_name {
  font-weight: bold;
  text-align: center;
}

.card {
  flex: 0 0 calc(25% - 55px);

  border-radius: var(--border-radius);
  /* max-width: 200px; */
  /* margin: 15px; */
  padding: 15px;
  background-color: color-mix(in srgb, rgb(var(--primary-color)), black 50%);
  img {
    align-self: center;
    max-width: 150px;
    border-radius: var(--border-radius);
  }
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;

  /* display: grid;
  /* 'auto-fill' crea tantas columnas como quepan */
  /* 'minmax' asegura que no sean menores a 200px ni mayores a 1fr */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Espacio entre tarjetas */
  margin: 0 15px;
  justify-items: center; /* Centra las tarjetas si sobra espacio */
  padding: 20px;
}

/* Ajuste opcional para tus tarjetas */
.card {
  /* Quitamos el margin fijo para que el gap del grid maneje el espacio */
  margin: 0;
  width: 100%; /* Que ocupen el ancho de su celda de grid */
}
